{% extends "base.html" %}

{% block title %}Problem Detail{% endblock %}

{% block body_block %}
<div class="row profile-margin profile-content">
	<div class="col-md-12 ">
		<h1 class="text-primary">{{problem}}</h1>
		{% if user.is_authenticated %}
		<h4>
			<b class="text-success">Solve Status:</b>
			{% if solve_status %}
					<span class="status solved">Solved</span>
			{% else %}
					<span class="status pending">Pending. Solved yet?</span>
					<a class="btn btn-success" id="problem_solved_btn" data-name="{{ problem }}" href="solve"
                       data-current=
                            "{{ current_url }}"
                       class="white-text">Yes</a></button>
			{% endif %}</h4>
			{% else %}
				</h4><b>Solve Status:</b> You are not logged in!</h4>
		{% endif %}


	<div class="profile-usermenu clearfix">
		<ul>
			<li><i class="fas fa-bookmark"></i>
				<b>Online Judge:</b> {{problem.oj_name}}
			</li>
			<li><i class="fas fa-book"></i>
				<b>Problem ID:</b> {{problem.prob_id}}
			</li>
			<li><i class="fab fa-bitbucket"></i>
				<b>Category:</b> {{problem.category}}
			</li>
			<li><i class="fas fa-calendar-check"></i>
				<b>Note:</b> {% if problem.note %}{{problem.note}}{% else %}No notes added yet{% endif %}
			</li>
			<li><i class="fas fa-cut"></i>
				<b>Problem Link:</b> <a href="{{problem.link}}" target="_blank">{{problem.oj_name}} {{problem.prob_id}}</a>
			</li>
			<li><i class="fas fa-chart-bar"></i>
				<b>Solved by:</b> {{problem.solved.count}} users<br>
          {% for users in problem.solved.all %}
            {{users.solver}}{% if not forloop.last %}, {% endif %}
          {% endfor %}
			</li>
		</ul>
	</div>

</div>
</div>
{% endblock %}
