{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Registration{% endblock %}

{% block body_block %}
	<div class="login-page">
		{% if user.is_authenticated %}
		<h1>You're already logged in!</h1>
		{% else %}

		<div class="form register-form">
			<h1> Register Here </h1>

			<form method="POST" class="register-form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
				<button id="button" type="submit"  name="register">Register</button>
				{% endbuttons %}
				<p class="message">Already registered? <a href="index.html">Sign In</a></p>
			</form>

		</div>
	</div>
	{% endif %}
{% endblock %}
