{% extends "base.html" %}
{% block title %}Homepage{% endblock %}


{% block body_block %}
<div class="row profile-margin profile-content box blurred-bg tinted">
  <div class="col-md-12 ">
	<div class="features-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="width:1030px;font-family:Inconsolata, monospace;font-size:55px;">print("hello world");</h2>
                <p class="text-center">Welcome to the Blue Coder's Practice Arena</p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">What is Blue Division?</h3>
                    <p class="description"> Anyone who wants to join the Blue Division will have to pass the Green Division. They will get training classes taken by a selected Experienced Competitive Programmer having strong background and practice regularly on the Blue Division Practice Sheet. </p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Standings?</h3>
                    <p class="description">Each member column will hold some attributes about his solving activities like “Solve Count”, “Percentage of Problems solved vs number of given problems” etc. The higher the number of problems solved will get leftmost column accordingly. If the solve count is same it’ll be sorted according to the Color Legend Color. What’s that again?
</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-plane icon"></i>
                    <h3 class="name">How to &nbsp;join?</h3>
                    <p class="description"> Each new batch is initiated at the beginning of the semester. Anyone passing the Green Division can join during the first week after initiation. After each weak just after the first week the joining prerequisite will increase according to the cut-off. Anyone passing the Green Division having solved above the cut-off may join the sheet from the next week. </p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-arrow-alt-circle-down icon"></i>
                    <h3 class="name">What is Cutoff?</h3>
                    <p class="description"> Cut-off can be defined as the least number of problems that you must have to stay/join in that practice sheet. The coach will increase the cut-off by 4 to 6 after every Friday while removing the below cut-off members and adding the above cut-off members. During the week, the member’s column will remain red marked as a reminder to come across the cut-off ASAP.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-leaf icon"></i>
                    <h3 class="name">What are the benefits?</h3>
                    <p class="description">They will get training classes taken by a selected Experienced Competitive Programmer having strong background and practice regularly on the Blue Division Practice Sheet. Anyone not maintaining the minimum requirement which is updated every week, will be removed from the sheet. Most of the Beginner and Intermediate level topics will be covered here.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-phone icon"></i>
                    <h3 class="name">How to parctice?</h3>
                    <p class="description"> This is pretty straight-forward. The problems will be available on the left-most column of the practice sheet. Each row will represent the activity of a problem. You’ll write down “OK” in that row of your column after solving that problem. That’s it. That’s all you have to do.</p>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>
{% endblock %}
