{% extends "base.html" %}
{% load sheet_tags %}
{% block title %}{{this_sheet}}{% endblock%}

{% block body_block %}
<div class="row profile-margin profile-content">
	<div class="col-md-12 ">


		<h1>{{this_sheet}}
			{% if not sheet_status %}
				{% if user.is_authenticated %}<a href="{% url 'sheets:join_sheet' slug=this_sheet.slug %}" class="btn btn-success" >Join this sheet</a>{% endif %}
			{% endif %}
		</h1>
		{% for announcement in announcements %}
				{{ announcement.content }}

				<br>
		{% endfor %}

		<h2>Total problems added: {{this_sheet.problems_added}}</h2>
		<h3>Current cut off: {{this_sheet.cut_off}}</h3>
		<br>

		<table style="width:100%" border="1">
			{# Printing usernames #}
			<tr>
				<th>Users</th>
	      <th></th>
				{% for sheet_member in member_list %}
				<th>{{sheet_member.member}}</th>
				{% endfor %}
			</tr>
			{# Printing Solve Counts #}
			<tr>
				<th>Problems</th>
	      <th>Solve Count</th>
				{% for member in member_list %}
				<th>{{member.solve_count}}</td>
				{% endfor %}

				{# Printing problems on first column and solves of sheetmembers on the next columns #}
			</tr>
			{# Printing solve percentage #}
			<tr>
				<th>Percentage</th>
	      <th>%</th>
				{% for member in member_list %}
				{% solve_percentage solve_count=member.solve_count problems_added=this_sheet.problems_added as per %}
				<th>{{per}}</td>
				{% endfor %}
			</tr>

			{% for prob in sheet_prob %}
			<tr>
				{# Problem with link #}
				<th><a href="{% url 'problems:problem_detail' slug=prob.slug %}">{{prob}}</a></th>
				{% count_problem_solves problem=prob members=member_list as problem_solved_count %}
				<th>{{problem_solved_count}}</th>
				{# Solve for each member(ordered by descending solve_count) #}
				{% for sheet_member in member_list %}
				{% is_solved_by_user prob sheet_member.member as result %}
				<td>{% if result %}OK{% endif %}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>


	</div>
</div>
{% endblock %}
