{% extends "base.html" %}

{% block title %}Sheet list{% endblock %}

{% block body_block %}
<h1>Sheets list</h1>
<br>
  {% if sheets_list %}
    {% for sheet in sheets_list %}
      <a href="{% url 'sheets:activity' slug=sheet.slug %}"><h2>{{forloop.counter}}. {{sheet}}</h1></a>
      <h3>Total problems added: {{sheet.problem_count}}</h3>
      <h3>Cut-off: {{sheet.cut_off}}</h3>
      <h4>Members: {{sheet.memberships.count}}</h4>
      {% for member in sheet.members.all %}
        <p>{{member}}</p>
      {% endfor %}
    {% endfor %}

  {% else %}
    <h3>Sorry! No sheets available.</h3>
  {% endif %}

{% endblock %}
