{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Login{% endblock %}

{% block body_block %}
<div class="login-page">


	<div class="form register-form">

		{% if user.is_authenticated %}
		<h1>You're already logged in!</h1>
		{% else %}

		<h1> Login Here </h1>


		<form method="POST" class="register-form">
			{% csrf_token %}
			{% bootstrap_form form %}

			{% buttons %}
			<button id="button" type="submit" class="btn btn-primary" name="login">Login</button>
			{% endbuttons %}
		</form>


		{% endif %}
	</div>


</div>
{% endblock %}
